# Build outputs
_cjs
_esm
_types
build/
dist/

# TypeScript build info
tsconfig*.tsbuildinfo

# Environment files
*.local
.env*
.envrc

# Dependencies
node_modules/

# IDE/System files
.idea/
.DS_Store

# Testing
coverage/
*.test.js
*.test.d.ts

# Cache files
.eslintcache
cache/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Keep configuration files
!jest.config.js