# Ignore all.js files
*.js
!jest.config.js

# TypeScript build artifacts
*.tsbuildinfo
_types/

# Ignore node_modules directory
node_modules/
.idea/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions